---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const destinations = await getCollection("destinations");
---

<Layout title="Destination">
  <main
    class="h-full bg-[url(../assets/destination/background-destination-tablet.jpg)] bg-cover bg-center pt-22 text-white md:pt-24 xl:bg-[url(../assets/destination/background-destination-desktop.jpg)] xl:pt-34"
  >
    <!-- Content container -->
    <div class="flex h-full w-full flex-col">
      <!-- Heading -->
      <div
        class="flex justify-center gap-6 self-start p-6 pb-0 md:pt-10 xl:px-36 xl:pt-12"
      >
        <span class="t8 md:t5 text-light-blue/25 font-bold md:text-[20px]"
          >01</span
        ><h1 class="t8 md:t5 text-light-blue uppercase md:text-[20px]">
          Pick your destination
        </h1>
      </div>

      <!-- Content -->
      <div
        class="flex h-full w-full snap-x snap-mandatory gap-12 overflow-x-scroll p-8 md:gap-20 md:p-10"
      >
        {
          destinations.map((destination) => (
            // each "page"
            <div
              id={destination.data.name.toLowerCase()}
              class="flex h-full w-full flex-shrink-0 snap-center flex-col items-center justify-center xl:flex-row xl:gap-8"
            >
              <img
                src={destination.data.images.webp}
                alt={destination.data.name}
                class="h-[150px] w-[150px] flex-shrink-0 md:h-[300px] md:w-[300px] xl:h-[480px] xl:w-[480px]"
              />

              <div class="flex w-min min-w-[480px] flex-col items-center justify-center pt-8 xl:items-start xl:px-12 xl:pt-0">
                <ul class="flex gap-8">
                  {destinations.map((d) => (
                    <li
                      class:list={[
                        "h-8 border-b-3 border-transparent",
                        d.data.name === destination.data.name
                          ? "border-b-white"
                          : "transition duration-500 hover:border-b-white/50",
                      ]}
                    >
                      <a
                        href={`/destination/#${d.data.name.toLowerCase()}`}
                        class:list={[
                          "t7 md:t8 uppercase",
                          d.data.name === destination.data.name
                            ? "text-white"
                            : "text-light-blue",
                        ]}
                      >
                        {d.data.name}
                      </a>
                    </li>
                  ))}
                </ul>
                <div class="flex flex-grow flex-col items-center pt-6 md:px-22 xl:px-0">
                  <div class="flex flex-col items-center xl:items-start">
                    <h2 class="t2 md:t2 text-[56px] text-white uppercase">
                      {destination.data.name}
                    </h2>
                    <p class="t9 text-light-blue xl:t9 pt-4 text-center text-[15px] text-balance md:text-[16px] xl:text-left">
                      {destination.data.description}
                    </p>
                  </div>
                  <div class="mt-6 h-[1px] w-full bg-white/25 xl:mt-10" />
                  <div class="mt-6 flex flex-col gap-6 md:flex-row xl:mt-10 xl:w-full xl:justify-start">
                    <div class="flex flex-col items-center gap-3 xl:w-1/2 xl:items-start">
                      <span class="t7 text-light-blue uppercase">
                        Avg. Distance
                      </span>
                      <span class="t6 uppercase">
                        {destination.data.distance}
                      </span>
                    </div>
                    <div class="flex flex-col items-center gap-3 xl:w-1/2 xl:items-start">
                      <span class="t7 text-light-blue uppercase">
                        Est. Travel Time
                      </span>
                      <span class="t6 uppercase">
                        {destination.data.travel}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
